<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Account Information</h1>
<a th:href="@{/trend/add/{userId}(userId = ${user.getId()})}">post something</a>
<a th:href="@{/acc/information/{userId}(userId = ${user.getId()})}">acc information</a>
<a th:href="@{/your_posts/page/{userId}(userId = ${user.getId()})}">your posts</a>
<a th:href="@{/trend/posts/{userId}(userId = ${user.getId()})}">home page</a>
<br>
<h1 th:text="'Hi! ' + ${user.getUsername()}"></h1>
<table>
    <tr>
    <th>Your Username</th>
    <th>Your Password</th>
    </tr>
    <tr>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
    </tr>
</table>
<br>
<h2>Change information:</h2>
<form th:action="@{/acc/update/{userId}(userId= ${userId})}" th:method="POST">
    <label>
        <input th:type="text" th:value="${user.getUsername()}" th:name="username"/>
    </label>
    <br>
    <label>
        <input th:type="text" th:value="${user.getPassword()}" th:name="password"/>
    </label>
    <br>
    <button th:type="submit">confirm changes</button>
</form>
</body>
</html>