<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Account Information</h1>
<a href="/trend/add">post something</a>
<a href="/acc/information">acc information</a>
<a href="/random">your posts</a>
<a href="/trend/posts">home page</a>
<br>
<h1>Hi user</h1>
<table>
    <tr>
    <th>Your Username</th>
    <th>Your Password</th>
    </tr>
    <tr>
        <td>something</td>
        <td>something</td>
    </tr>
</table>
<br>
<h2>Change information:</h2>
<form>
    <label>
        <input th:type="text" placeholder="username" th:name="username"/>
    </label>
    <br>
    <label>
        <input th:type="text" placeholder="password" th:name="password"/>
    </label>
    <br>
    <button th:type="submit">change</button>
</form>
</body>
</html>