<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Trending Post</h1>
<a href="/trend/add">post something</a>
<a href="/acc/information">acc information</a>
<a href="/random">your posts</a>
<a href="/trend/posts">home page</a>

<table th:each="post: ${posts}" th:if="${not #lists.isEmpty(posts)}">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td th:text="${post.getLikes()}"></td>
        <td>
            <form th:action="@{/trend/like/{id}(id=${post.getId()})}" th:method="POST">
                <button type="submit">+</button>
            </form>
        </td>
        <td>
            <form th:action="@{/trend/dislike/{id}(id=${post.getId()})}" th:method="POST">
                <button type="submit">-</button>
            </form>
        </td>
        <td><a th:href="${post.getUrl()}" th:text="${post.getTitle()}"></a></td>
    </tr>
</table>
<p th:unless="${not #lists.isEmpty(posts)}">nobody posted yet...</p>
</body>
</html>