<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Trending Post</h1>
<a th:href="@{/trend/add/{userId}(userId = ${user.getUserId()})}">post something</a>
<a th:href="@{/acc/information/{userId}(userId = ${user.getUserId()})}">acc information</a>
<a th:href="@{/your_posts/page/{userId}(userId = ${user.getUserId()})}">your posts</a>
<a th:href="@{/trend/posts/{userId}(userId = ${user.getUserId()})}">home page</a>

<table th:each="post: ${posts}" th:if="${not #lists.isEmpty(posts)}">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td th:text="${post.getLikes()}"></td>
        <td>
            <form th:action="@{/trend/like/{id}/{userId}(id=${post.getPostId()},userId=${user.getUserId()})}" th:method="POST">
                <button type="submit">+</button>
            </form>
        </td>
        <td>
            <form th:action="@{/trend/dislike/{id}/{userId}(id=${post.getPostId()},userId=${user.getUserId()})}" th:method="POST">
                <button type="submit">-</button>
            </form>
        </td>
        <td><a th:href="${post.getUrl()}" th:text="${post.getTitle()}"></a></td>
    </tr>
</table>
<p th:unless="${not #lists.isEmpty(posts)}">nobody posted yet...</p>
<form th:if="${posts.size() >= 5}" th:action="@{/trend/ten_more/{userId}(userId = ${user.getUserId()})}" th:method="POST">
    <input type="hidden" name="pageNumber" value="10" />
    <button type="submit">More Posts</button>
</form>
</body>
</html>